**
!backend/
!backend/app/
!backend/app/**
!backend/pyproject.toml
!frontend/
!frontend/src/
!frontend/src/**
!frontend/public/
!frontend/public/**
!frontend/index.html
!frontend/package.json
!frontend/pnpm-lock.yaml
!frontend/tsconfig.json
!frontend/vite.config.ts
!rules/
!rules/**
!deploy/
!deploy/**
!LICENSE
**/__pycache__/
**/*.pyc
**/.env*
